/* consignes https://github.com/melpiro/ProjetDevWeb */

body {
    --black: black;
    --heigth_header: 40px;
    --heigth_header_media: 150px;
    --background: #B4D35B;
    --button_color: rgb(141, 141, 240);
    --button_hover_color: white;
    --star_color: #F19E39;

    margin: 0;
}

header {
    background-color: var(--background);
    position: fixed;
    width: 100%;
    height: var(--heigth_header);
}

.logo {
    display: flex;
    position: fixed;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

button {
    background-color: var(--button_color);
    border: solid black 1px;
    border-radius: 15%;
    font-weight: bold;


    height: 60%;
}

button:hover {
    background-color: var(--button_hover_color);
}

main {
    display: flex;
    flex-direction: row;
}


.parametres {
    margin-top: var(--heigth_header);
    position: fixed;
    width: 25%;
    height: 100%;
    background-color: var(--button_color);

}

.parametres>div {
    border: solid 3px green;
}

input[type="checkbox"] {
    display: none;
}

label {
    color: var(--star_color);
}

input[type="checkbox"]:checked+label {
    transition: 0.25s;
    color: var(--black);
    user-select: none;

}

.type div:hover {
    background-color: var(--background);
}

.espace_vente {
    margin-top: var(--heigth_header);
    margin-bottom: 20%;
    margin-left: 25%;
    width: 75%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

.article {
    border: solid 2px red;
    width: 50%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.article:nth-child(2n) {
    flex-direction: row-reverse;
}

.article>img {
    width: 100%;
}

.article:hover {

    transition: 0.25s;
    width: 95%;

    >img {
        width: 50%;
    }

    .caracteristiques {
        background-color: brown;
    }

    .caracteristiques span,
    .avis span {
        font-size: 2vw;
    }


    .avis {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: var(--star_color);
    }

    .avis>div {
        margin: 5%;
    }

    .avis img {
        display: inline-block;
        height: 25px;
    }
}

.caracteritiques {
    display: flex;
    flex-direction: row;
}

.caracteristiques span,
.avis span {
    font-size: 0px;
}


.avis img {

    display: none;
}

footer {
    height: 80px;
    background-color: var(--background);
    position: sticky;
}

@media (max-width:1000px) {

    header {
        position: absolute;
    }

    .logo {
        display: none;
    }

    main {
        flex-direction: row;
    }

    .parametres {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: var(--heigth_header_media);
    }

    .type {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .espace_vente {
        margin-top: var(--heigth_header_media);
        margin-left: 0px;
        width: 100%;
    }
}

/* @media (min-width:1200px) {
    .article {
        width: 40%;
        height: 35%;
        object-fit: cover;
    }

    .article:hover {
        width: 40%;
        flex-direction: column;
        height: 50%;

    }
} */

/*
cd /c/Users/Public/BUT_Info/Github/ProjetDevWeb
git pull

    changer page

git add /c/Users/Public/BUT_Info/Github/ProjetDevWeb
git commit -m "message"
git push

changer 

boutique_test.css -> boutique.css
*/