html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    --dark: #38302e; /* van-dyke */
    --sub-dark: #6f6866; /* dim-gray */
    --sub-sub-dark: #788585; /* battleship-gray */
    --background: #ccdad1; /* ash-gray */
    --secondary-transparent: rgba(139, 69, 19, 0.8); /* This color was not in the new palette, so it remains unchanged */
    --secondary: #8b4513; /* This color was not in the new palette, so it remains unchanged */
    --white: #ffffff;
    --beige: #f5f5dc; /* This color was not in the new palette, so it remains unchanged */
    --gray: #9caea9; /* ash-gray-2 */

    min-height: 100vh;
    background-color: var(--background);
    color: var(--dark);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark);
}

header {
    background-color: var(--dark);
    color: var(--white);
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 25px;
}

header nav ul li {
    display: inline;
    margin-right: 7%;
    margin-left: 7%;
}

header nav ul li a {
    background-color: var(--sub-dark);
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid var(--sub-sub-dark);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 40%;
    transform: translate(-50%, -50%);
}

header nav ul li a:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

header nav ul li a:hover {
    background-color: var(--sub-sub-dark);
    transform: scale(1.05) rotate(3deg);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

header nav ul li a:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
main {
    padding: 30px;
    text-align: center;
}

footer {
    background-color: var(--dark);
    color: var(--white);
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}
