html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    --dark: #38302e;
    --dark-transparent: rgba(56, 48, 46, 0.95); 
    --sub-dark: #6f6866;
    --sub-sub-dark: #788585; 
    --background: #ccdad1;
    --secondary-transparent: rgba(139, 69, 19, 0.8);
    --secondary: #8b4513;
    --white: #ffffff;
    --white-transparent: rgba(255, 255, 255, 0.8);
    --beige: #f5f5dc;
    --gray: #9caea9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(villeegouts.jpg);
    background-position: center center;
    background-size: cover;
    color: var(--dark);
}


* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--dark);
    transition: color 0.3s ease-in-out;
}


header {    
    background-color: var(--dark-transparent);
    color: var(--white);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(90deg, var(--secondary), var(--beige));
    background-clip: text;
    background-size: 150%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
    animation: fadeIn 2s ease-in-out, colorShift 4s linear infinite;
    position: relative;
    padding: 10px 0;
    transition: transform 0.3s ease-in-out;
}

h1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}


h1::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    width: 150px;
    height: 4px;
    background: linear-gradient(90deg, var(--secondary), var(--beige));
    border-radius: 2px;
    animation: slideIn 2s ease-in-out, colorShift 4s linear infinite;
    background-size: 150%;
}


@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 150px;
    }
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

header nav ul li {
    display: flex;
    align-items: center;
}

.bouton{
    background-color: var(--sub-sub-dark);
    padding: 12px 25px;
    font-size: 1.1em;
    border-radius: 20px;
    border: 2px solid var(--sub-sub-dark);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(200, 200, 200, 0.15);
    text-decoration: none;
    color: var(--dark);
}

.bouton {
    background-color: var(--sub-sub-dark);
    padding: 12px 25px;
    font-size: 1.1em;
    font-weight: 400;
    border-radius: 20px;
    border: 2px solid var(--sub-sub-dark);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease, font-weight 0.3s ease;
    position: relative;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(200, 200, 200, 0.25);
}

.bouton:hover {
    background-color: var(--sub-dark);
    transform: scale(1.05);
    color: (var(--white));
}

.bouton:hover::before {
    width: 180%;
    height: 180%;
    top: 50%;
    left: 50%;
}


.bouton:active {
    transform: scale(0.97);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    margin: 0;
    transition: transform 0.3s ease-in-out;
}

.logo img {
    max-height: 80px;
    width: auto;
}

.logo:hover {
    transform: scale(1.2);
}




main {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

section {
    background-color: var(--white-transparent);
    border: 5px solid var(--sub-sub-dark);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-height: 380px;
}


section:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}


main:hover section {
    transform: scale(0.9);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

main:hover section:hover {
    transform: scale(1.1);
    z-index: 1; 
}


section h2 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

section p {
    font-size: 1em;
    margin-bottom: 10px;
}

section p, section ul {
    padding: 12px;
    font-size: 1.2em;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease-in-out;
}

footer {
    background-color: var(--dark-transparent);
    color: var(--white);
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}

footer p {
    margin: 0;
}

p a {
    color: var(--secondary);
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease-in-out;
}

p a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347);
    -webkit-background-clip: content-box;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: colorShift 4s linear infinite;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

p a:hover {
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: colorShift 4s linear infinite;
}

p a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

p a:active {
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347); /* On boucle à nouveau avec la première couleur */
    -webkit-background-clip: content-box;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: colorShift 4s linear infinite;
    transform: scale(0.98);
}

p a:active::before {
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347); /* On boucle à nouveau avec la première couleur */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: colorShift 4s linear infinite;
}

.promo {
    background-color: var(--secondary-transparent);
    color: var(--white);
    padding: 40px;
    border: var(--dark) 5px solid;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    margin: 50px auto 60px auto;
    max-width: 1200px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}  

.promo:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.promo h3 {
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

.promo p {
    font-size: 1.2em;
    margin-bottom: 30px;
    animation: fadeIn 1.5s ease-in-out;
}

.promo .btn-promo {
    background-color: var(--beige);
    color: var(--dark);
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid var(--beige);
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
    margin-top: 10px;
}

.promo .btn-promo::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150%;
    height: 150%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.promo .btn-promo:hover::before {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
}

.promo .btn-promo:hover {
    background-color: var(--sub-dark);
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.promo .btn-promo:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bold {
    font-weight: bold;
}

.multi {
    font-size: larger;
    font-weight: bold;
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: colorShift 4s linear infinite;
    position: relative;
}

.multi::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: linear-gradient(90deg, #ff6347, #ffa07a, #ffd700, #adff2f, #00ced1, #1e90ff, #9370db, #ff6347);
    background-size: 200%;
    animation: colorShift 4s linear infinite;
}

.multi:active {
    transform: scale(0.98);
}


@keyframes colorShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {

    header {
        position: relative;
    }

    header h1 {
        font-size: 1.2em;
    }

    header nav ul {
        flex-direction: column;
        gap: 0;
    }

    header nav ul li {
        margin: 0;
        width: 100%;
    }

    .bouton {
        display: flex;
        flex-direction: column;
        width: 98%;
        padding: 12px 0;
        font-size: 1em;
        background-color: var(--sub-dark);
        color: var(--white);
        border-radius: 15px;
        box-shadow: none;
        transform: none;
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        margin: 5px auto;
    }


    .bouton:hover {
        background-color: var(--sub-sub-dark);
        color: var(--beige);
        box-shadow: none;
        transform: none;
    }

    .logo {
        margin-left: 44%;
        transition: transform 0.3s ease-in-out;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1em;
    }

    header nav ul {
        gap: 0;
    }

    header nav ul li {
        margin: 0;
        width: 100%;
    }

    .bouton {
        padding: 10px 0;
        font-size: 0.8em;
        background-color: var(--sub-dark);
        color: var(--white);
        text-align: center;
        border-radius: 0;
        box-shadow: none;
        transform: none;
    }

    .bouton:hover {
        background-color: var(--sub-sub-dark-dark);
        color: var(--beige);
    }
}
