
body {
    --background: rgb(138, 33, 33);
    --button_color: rgb(141, 141, 240);
    --button_hover_color: white;
    background-image: url("villeegouts.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
}

header {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-color:black;
    border-width: 3px;

}

.logo {
    display: flex;
    position: fixed;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

button {


    font-weight: bold;
    height: 60%;
}

.payer>button{
    width: 300px;
    height:50px;
    background-color: black;
    
}

button:hover {
    background-color: var(--button_hover_color);
}

main {
    display: flex;
    flex-direction: row;
}

section {
    border: solid 3px black;
}

.parametres {
    width: 25%;
}

.parametres>div {
    border: solid 3px green;
}

.espace_vente {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}



.article {
    border: solid 3px rgb(0, 0, 0);
    width: 30%;
    height: 500px;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-radius: 10px;
  
}

.article>img {
    margin-left: auto;
    margin-right: auto;
    border:solid;
}

main>h1{
    font-size: 30px;
}

.payer{
    border: solid 3px rgb(0, 0, 0);
    width: 30%;
    height: 630px;
    margin-right:50px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-radius: 10px; 
   
   
 
}


.input{
    height:50px;
    width:200px;

    background-color:rgb(255, 255, 255);
    color:white;
    font-size: 20px; 
    text-align: center
}

.container{
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
}
