h1 {
    font-size: calc(2vw + 2vh); 
}

h2 {
    font-size: calc(1.2vw + 1.2vh);
}

h3 {
    font-size: calc(1.1vw + 1.1vh);
}

h4 {
    font-size: calc(0.8vw + 0.8vh);
}

p, ul, input {
    font-size: calc(0.7vw + 0.7vh); 
}

footer p {
    font-size: calc(1.3vw + 1.3vh);
}

header>nav>button {
    border: hidden;
    height: 50px;
    width: auto;
    font-size: calc(1vw + 1vh);
    background-color: transparent;
}

body {
    background-image: url("villeegouts.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center; 
    background-attachment: fixed;
    border: 0%;
    min-height: 220px;
}

header {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-color: black;
    border-width: 3px;

}

.logo {
    display: flex;
    position: fixed;
}

.menu {
    display: flex;
    justify-content: space-evenly;
}

button {
    font-weight: bold;
    height: 60%;
}

.payer>div>button {
    width: auto;
    height: 10vh;
    background-color: rgb(255, 255, 255);
    font-size: calc(1vw + 1vh);
}

button:hover {
    background-color: var(--button_hover_color);
}

main {
    display: flex;
    flex-direction: row;
}

section {
    border: solid 3px black;
}

.parametres {
    width: 25%;
}

.parametres>div {
    border: solid 3px green;
}

.espace_vente {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.article {
    min-height: calc(100vh - 220px);
    border: solid 3px rgb(0, 0, 0);
    width: 30%;
    height: 100vh;
    margin-left: 5px;
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-radius: 10px;
    overflow: hidden;
}

.article>img {
    margin-left: auto;
    margin-right: auto;
    border: solid;
    width: auto;
    height: 20vh ;
}

main>h1 {
    font-size: calc(2vw + 2vh);
}

.payer {
    min-height: calc(100vh - 220px);
    border: solid 3px rgb(0, 0, 0);
    width: 55vw;
    height: 100vh;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.694); 
    backdrop-filter: blur(10px);
    padding: 20px; 
    border-radius: 10px; 
}

.input {
    width: 100%;
    height: 5vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px; 
    text-align: center;
}

.container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%;
}

.svg {
    width: 5vw;
    height: 5vh;
}

.align {
    text-align: center;
}


select {
    height: 5vh;
    width: 100%;
    background-color: rgb(249, 249, 249);
    color: rgb(0, 0, 0);
    font-size: 2vh; 
}

.trait {
    border-top: 2px solid black; 
    width: 100%; 
    margin: 20px 0; 
}

.aligner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


footer {
    background-color: rgba(56, 48, 46, 0.95);
    color: whitesmoke;
    text-align: center;
    padding: 10px;
    width: 100%; 
    height: 10vh;
    position: absolute; 
    top: 135vh; 
    left: 0; 
    right: 0; 
    bottom: 0; 
}

* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .payer, .article {
        width: 100%; 
        margin: 0; 
        
    }
}

@media (max-height: 440px) {
    footer {
        top: 210vh;
    }
}

@media (max-height: 400px) {
    footer {
        top: 230vh;
    }
}

@media (max-height: 440px) {
    .payer, .article {
        height: 140vh;
    }
}

@media (max-height: 330px) {
    footer {
        height: 20vh;
    }
}

@media (max-height: 275px) {
    .payer, .article {
        height: 160vh;
    }
    
}

@media (max-height: 230px) {
    footer {
        top: 280vh;
    }
    .payer, .article {
        height: 200vh;
    }
}

@media (max-height: 200px) {
    footer {
        top: 320vh;
    }
    .payer, .article {
        height: 220vh;
    }
}

@media (max-height: 155px) {
    footer {
        top: 390vh;
        
    }
    .payer, .article {
        height: 270vh;
    }
}

